.menuItem {
    font-family: Tahoma, Verdana, Arial, sans-serif;
    font-weight: normal;
    font-size: 95%;
}

.menuTitle {
    font-size: 85%;
    font-family: Tahoma, Verdana, Arial, sans-serif;
}

.menuUsageItem {
    font-size: 95%;
    font-family: Tahoma, Verdana, Arial, sans-serif;
    margin-bottom: 10px;
}

.menuUsageItem a {
    text-decoration: none;
}