/*
   Dummy stylesheet allowing for some customisation without having to
   copy and modify the other stylesheets.
*/

#griffonbanner {
    background-image: url(../img/griffon-banner.png);
    background-repeat: no-repeat;
    width: 350px;
    height: 86px;
}